@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Universidad Privada de Tacna<br />
        Pocollay, Tacna<br />
        <abbr title="Phone">P: 926512655</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">soporte@rumi.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@rumi.com</a>
    </address>
</main>