<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" 
          backupGlobals="false" colors="true" 
          bootstrap="vendor/autoload.php">
  
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">tests</directory> <!-- Asegúrate de que los tests terminen en 'Test.php' -->
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="html"/>
    </report>
    <include>
      <directory suffix=".php">src</directory> <!-- Incluir la carpeta src -->
    </include>
  </coverage>
</phpunit>
