<phpunit>
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <coverage>
        <include>
            <directory>../src</directory>
        </include>
    </coverage>
</phpunit>
